## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [ ]:
sample_list_1 = list([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,0
         ,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80])
print(len(sample_list_1))

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [ ]:
set1 = set(sample_list_1)
print(set1)
print(type(set1))
print(len(set1)) #WE HAVE THE SAME ELEMENTS WHEN WE CONVERT INTO A LIST BUT BECAUSE WE DONT HAVE DUPLICATE ELEMENTS.

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [ ]:
sample_list_1 = list([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,0
         ,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80])

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [ ]:
sample_list_2 = [1]
for i in range(0,79):
    sample_list_2.append(i+1)
print(sample_list_2)
print(len(sample_list_2))

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [ ]:
set2 = set(sample_list_2)
print(set2)
print(type(set2))
print(len(set2))#Solo nos elimino aquellos elementos que teniamos repetidos,en la lista.

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [ ]:
set3 = set2.symmetric_difference(set1)
print(set3)
#ME ESTA SACANDO LOS ELEMENTOS QUE NO SON COMUNES A LOS DOS SETS.

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [ ]:
set5  = set2.intersection(set1)
print(set5)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [ ]:
set6= set()
print(set6)
print(len(set6))

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
set6.update(set3)
print(set6)
set6.update(set5)
print(set6)
print(len(set3))
print(len(set5))
print(len(set6))

#COMO PODEMOS VER LEN(SET3)+LEN(SET5) = LEN(SET6), POR LO QUE SE ME CREO SET6 BIEN.

#### Check if `set1` and `set6` are equal.

In [ ]:
if set1 == set6:
    print("set1 y set6 son iguales")
elif set1 != set6:
    print("set1 y set6 son distintos")

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
if set2 in set1:
    print("el set1 contiene set2")
elif set2 not in set1:
    print("el set1 no contiene el set2")

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here